@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Hind:wght@300&family=Lato:wght@100&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@300&family=Roboto:wght@100&family=Smooch+Sans:wght@100&family=Ubuntu&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Hind:wght@300&family=Lato:wght@100&family=Montserrat:wght@100&family=Niconne&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@300&family=Roboto:wght@100&family=Smooch+Sans:wght@100&family=Ubuntu&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Hind:wght@300&family=Lato:wght@100&family=Niconne&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@300&family=Roboto:wght@100&family=Smooch+Sans:wght@100&family=Ubuntu&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

header {
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://static.wixstatic.com/media/84770f_38f03f480e824db487b4403a6937c874.png/v1/fill/w_1348,h_749,al_c,usm_0.66_1.00_0.01,enc_auto/84770f_38f03f480e824db487b4403a6937c874.png);
}
nav {
  background-color: black;
}
nav div a {
  color: rgba(255, 255, 255, 0.705);
  font-size: 20px;
}
.navbar-nav a {
  color: rgba(255, 255, 255, 0.726);
}
.navbar-nav a:hover {
  color: white;
}

.navbar-brand {
  justify-content: center;
  color: black;
}
.navbar-brand:hover {
  color: black;
}

.ic1 {
  color: white;
}
.icon ul li {
  color: white;
}
.icon ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
.icon {
  float: right;
  width: 60%;
  display: flex;
  align-items: center;
}
.tv {
  width: 100%;
  height: 900px;
}
.tv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tv b {
  font-size: 50px;
  color: white;
}
.tv p {
  color: white;
  font-size: 50px;
  font-family: "Niconne", cursive;
}
main {
  height: 2000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://t4.ftcdn.net/jpg/02/86/37/57/360_F_286375793_tMNCezCxZVJMzXVlunBoKI1JWP72cE9L.jpg);
}

.scroll1 {
  display: flex;
  justify-content: center;
}
.scroll2 {
  display: flex;
  justify-content: center;
}
.scroll2 p {
  color: white;
  font-size: 50px;
}
.set {
  position: relative;
  margin-top: -60px;
  margin-right: 30px;
  float: right;
  color: black;
}
.photos1 {
  width: 90% auto;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.foto1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 450px;
  background-image: url(https://static.wixstatic.com/media/3e3391443ed346b7ae6740fdcd37aa68.jpg/v1/fill/w_740,h_493,al_c,q_90/3e3391443ed346b7ae6740fdcd37aa68.webp);
}
.foto2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 450px;
  background-image: url(https://static.wixstatic.com/media/24352a95df9d4d0393d5115facf22c28.jpg/v1/fill/w_740,h_493,al_c,q_90/24352a95df9d4d0393d5115facf22c28.webp);
}
.foto1 p {
  color: white;
}
.text1 {
  position: relative;
  height: 400px;
  width: 400px;
}
.text2 {
  position: relative;
  height: 400px;
  width: 400px;
}
.foto2 p {
  color: white;
}
.link1 {
  display: flex;
  align-items: end;
}
.box1 {
  height: 250px;
  width: 250px;
  background-color: rgba(0, 0, 255, 0);
}
.link1 a {
  color: white;
  text-decoration: none;
}
.link1 a:hover {
  color: rgba(255, 255, 0, 0.11);
}
.xazi1 {
  width: 350px;
  height: 1px;
  color: white;
  background-color: white;
}
.naxva {
  color: white;
  display: flex;
  gap: 5px;
  flex-direction: row;
}
.box2 {
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0);
}
.link2 a {
  color: white;
  text-decoration: none;
}
.link2 a:hover {
  color: rgba(255, 255, 0, 0.322);
}
.xazi2 {
  width: 350px;
  height: 1px;
  background-color: white;
}
.naxva1 {
  color: white;
  display: flex;
  gap: 5px;
  flex-direction: row;
}
.png2 {
  height: 100px;
  width: 70px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-image: url(https://static.wixstatic.com/media/05e3dc_5b5cbe7295344815a45a310cc3d26942.png/v1/fill/w_68,h_59,al_c,usm_0.66_1.00_0.01,enc_auto/05e3dc_5b5cbe7295344815a45a310cc3d26942.png);
}
.png1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.png3 {
  background-repeat: no-repeat;
  height: 50px;
  width: 1000px;
  position: absolute;
  margin-top: 14px;
  background-image: url(https://static.wixstatic.com/media/05e3dc_bf5b0e4b870c40619a465e9f429aa899.png/v1/fill/w_1166,h_12,al_c,usm_0.66_1.00_0.01,enc_auto/05e3dc_bf5b0e4b870c40619a465e9f429aa899.png);
}
.foto3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 450px;
  background-image: url(https://static.wixstatic.com/media/b93c26360b3b49f59d94079ecaa9dc6f.jpg/v1/fill/w_740,h_493,al_c,q_90/b93c26360b3b49f59d94079ecaa9dc6f.webp);
}
.photos2 {
  width: 90% auto;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.text3 {
  position: relative;
  height: 400px;
  width: 400px;
}
.foto3 p {
  color: white;
}
.box3 {
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0);
}
.link3 a {
  color: white;
  text-decoration: none;
}
.link3 a:hover {
  color: rgba(255, 255, 0, 0.247);
}
.xazi3 {
  width: 350px;
  height: 1px;
  background-color: white;
}
.naxva2 {
  color: white;
  display: flex;
  gap: 5px;
  flex-direction: row;
}
.foto4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 450px;
  background-image: url(https://static.wixstatic.com/media/521eab77a8a1f08d1b377c8f27126b6b.jpg/v1/fill/w_740,h_463,al_c,q_90/521eab77a8a1f08d1b377c8f27126b6b.webp);
}
.photos2 {
  width: 90% auto;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.full {
  gap: 50px;
}
.text4 {
  position: relative;
  height: 400px;
  width: 400px;
}
.foto4 p {
  color: white;
}
.box4 {
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0);
}
.link4 a {
  color: white;
  text-decoration: none;
}
.link4 a:hover {
  color: rgba(255, 255, 0, 0.247);
}
.xazi4 {
  width: 350px;
  height: 1px;
  background-color: white;
}
.naxva3 {
  color: white;
  display: flex;
  gap: 5px;
  flex-direction: row;
}
.poto1 {
  margin-top: 50px;
}
.text5 p {
  color: white;
}
.text5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
.input1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input1 p {
  color: rgba(255, 255, 255, 0.432);
  margin-left: -365px;
}
.input1 input {
  width: 400px;
  height: 38px;
  background-color: rgb(54, 54, 54);
  border: 1px solid white;
  color: white;
}
.input1 input::placeholder {
  color: white;
  margin-left: 70px;
}
.input1 a button {
  width: 405px;
  height: 38px;
  margin-top: 5px;
}
.mail {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  flex-direction: column-reverse;
  background-image: url(https://t4.ftcdn.net/jpg/02/86/37/57/360_F_286375793_tMNCezCxZVJMzXVlunBoKI1JWP72cE9L.jpg);
}
.yuti {
  width: 100%;
  height: 250px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.267);
  margin-top: -210px;
}
